@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Caveat:wght@500&family=Kanit:wght@300&family=Libre+Baskerville&family=Poppins:wght@100;400&family=Quicksand:wght@300&family=Roboto+Mono:wght@300&family=Unbounded:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(companies-prioritize-succed.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    padding-top: 13px;
}

.navbar {
    padding: 0 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    display: flex;
    font-size: 25px;
    font-weight: 900;
    color: #494949;
}

.listofnavi {
    display: flex;
    list-style: none;
}

.hylinks {
    background: transparent;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    margin: 5px 8px;
    border-radius: 20px;
}

.active {
    background-color: #ff36e8;
}

.forhover:hover {
    background-color: #00ffbf;
    color: #000;
}

.signupnav {
    background-color: aqua;
    color: black;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainheading {
    width: 740px;
    height: 50px;
    color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 25px;
    font-size: 30px;
    font-weight: 900;
    backdrop-filter: blur(15px);
    border: 2px solid #fff;
    border-radius: 40px;
    border-bottom: 0;
}

main div div span {
    padding: 0px 5px;
    color: #363636;
}

.wordsone,
.tersone {
    color: #00fbff;
}

.wordstwo {
    color: #1900ff;
}

.wordsthree,
.terstwo {
    color: #ffea00;
}

.wordsfour,
.tersthree {
    color: #ff00f7;
}

.wordsfive,
.tersfour {
    color: #00ff4c;
}

.wordssix,
.tersfive {
    color: #f6a000;
}

.wordsseven {
    color: #ff0000;
}

.thecont {
    height: 43vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 100px;
}

.sectionone {
    height: 60vh;
    background-color: #000;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secwords {
    padding: 0px 5px;
}

.two {
    height: 60vh;
}

.theline {
    width: 7px;
    height: 40vh;
    background-color: #ff6d85;
    position: absolute;
    left: 20px;
}

.linetwo {
    height: 60vh;
}

.linethree {
    height: 60vh;
}

.imgtext {
    background-color: #000;
    color: #fff;
    height: 65vh;
}

.flextext {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 527px;
    font-size: 20px;
}

.flximg {
    width: 527px;
}

.fleximg {
    display: flex;
    padding: 10px;
}

.imgtextsec {
    font-family: 'Roboto Mono', monospace;
    padding: 75px 75px;
}

.flextext span {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #242424;
    color: white;
}

.content {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 40px 70px;
}

.lsitoms {
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;
}

.lshylink {
    text-decoration: none;
    color: #cbcbcb;
}

.lshylink:hover {
    color: #fff;
}

.leftone {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
}

.conlsitoms,
.iconslsitoms {
    list-style: none;
    padding: 0 10px;
}

.conls,
.iconsls {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    color: #cbcbcb;
}

.theicons {
    color: #cbcbcb;
    font-size: 20px;
}

.theicons:hover {
    color: #ff0000;
    transition: 0.2s ease-in-out;
}

.hr {
    padding: 0px 60px 10px 60px;
}

.tandc {
    color: #696969;
}

.thebottom {
    padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
    * {
        display: none;
    }
}

/* signup form stylling */

.signupbody {
    background: #fff url(/index\ page\ background.avif) no-repeat center top fixed;
}

.headingofform {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    margin: 50px 0;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
}

.details {
    text-align: center;
    margin: 25px 0;
}

.inputs {
    font-family: 'Unbounded', cursive;
    padding: 10px;
    width: 360px;
    border: 0px;
}

.inputs:hover {
    background-color: #ff889c;
    color: #ffffff;
    box-shadow: -10px 10px 10px rgba(1, 1, 1, 0.2);
    border: 0px;
}

.inputs:hover::placeholder {
    color: #ffffff;
}

::placeholder {
    color: #ff889c;
    letter-spacing: 1px;
}

.names {
    width: 168px;
}

.usericon {
    font-size: 85px;
}

.loginbtn {
    width: 380px;
    color: #ffffff;
    background-color: #ff889c;
    border: 0px;
}

.forgot {
    text-decoration: none;
    color: #000000;
    font-family: 'Kanit', sans-serif;
}

.signup {
    color: blue;
    background-color: transparent;
}

.ofsignup {
    margin: 15px 0;
}
